nav {
  background-color: #902020;
}

div.navbar-brand {
  color: antiquewhite;
  animation-name: glow;
  animation-direction: normal;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

h1 {
  color:red
}

form#appt_search {
  margin-top: 75px;
}

.hidden{
  display: none
}

.hideform{
  margin-top: 20px;
}



@keyframes glow {
  0% {
    filter: brightness(100%);
    filter: saturate(100%);
  }
  50% {
    filter: brightness(50%);
    filter: saturate(50%);
  }
  100% {
    filter: brightness(100%);
    filter: saturate(100%);
  }
}