<!DOCTYPE html>
<html>
<head>
  <title>Appointment Viewer</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  {% load static %}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static "appointments/css/main.css" %}" />
</head>
<body>
  
  <nav class="navbar navbar-expand-lg">
    <div class="navbar-brand">View Appointments</div>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <form id="create_appt" action="" method="POST">
            {% csrf_token %}
          <button id="addNewButton" type="button" class="btn btn-primary">New</button>
          <button id="cancel" type="button" class="btn btn-secondary hidden">Cancel</button>
          <div id="hideform" class="hidden hideform">
            <div class="form-group">
              <label for="user">User</label>
              <input id="user" class="form-control" type="text"/>
            </div>
    
            <div class="form-group">
              <label for="date">Date</label>
              <input id="date" class="form-control" type="date"/>
            </div>
    
            <div class="form-group"></div>
              <label for="time">Time</label>
              <input id="time" class="form-control" type="time"/>
    
            <div class="form-group">
              <label for="user">Description</label>
              <input id="description"  class="form-control" type="text"/>
            </div>
          </div>
    
        </form>
        <div class="col"></div>
        
      </div>
    </div>


    <div class="row">
      <div class="col-6">
        <form id="appt_search">
          <div class="form-group">
            <label for="search">Search Appointments</label>
            <input class="form-control" type="text" id="search">
          </div>
          <div class="form-group">
            <label for="search_category">Search by: </label>
            <select class="form-control" name="search_category" id="search_category">
              <option default value="description">Description</option>
              <option value="user">User</option>
            </select>
          </div>
            <button type="submit" id="search" class="btn btn-primary">Submit</button>
            <div class="col"></div>
          
        </form>
      </div>
    </div>


    <div class="container" id="table_container">
      <table class="table table-bordered table-hover"></table>
    </div>

  </div>


  <div class="modal fade" id="create_appt_modal" tabindex="-1" role="dialog" aria-labelledby="create_appt_modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="create_appt_modal"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" id="modal_button" class="btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <script src="{% static "appointments/js/moment.js" %}"></script>
  <script src="{% static "appointments/js/appointments.js" %}"></script>
</body>
</html>